[
    {
        "language": "python3",
        "context": "this is a python3 code",
        "question": "search for all possibile authorization vulnerabilities, and give me only a simplified numeric bulleted list output, one by one vulnerability on new line with 200 max characters and Vulnerability Score on new line on base 10",
        "path": "/storage/input/python3_auth.code.example"
    },
    {
        "language": "java",
        "context": "this is a java code",
        "question": "search for all possibile authorization vulnerabilities, and give me only a simplified numeric bulleted list output, one by one vulnerability on new line with 200 max characters and Vulnerability Score on new line on base 10",
        "path": "/storage/input/java_auth.code.example"
    }
]